.review {
  padding-top: 100px;
  padding-bottom: 100px;
  .review__content {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
    .review__pretitle {
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 20px;
      text-transform: uppercase;
      color: #2F80ED;
    }
    .review__title {
      font-family: "Gilroy-Bold";
      font-size: 32px;
      line-height: 42px;
      letter-spacing: -0.5px;
      color: #151515;
    }
    .review__description {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #707070;
    }
  }
  .review__pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    align-content: center;
    margin-bottom: 20px;
    text-align: center;
    @media (max-width: 915px) {
      display: none;
    }
    .picture {
      text-align: center;
      overflow: hidden;
      justify-self: center;
      align-self: center;
      img {
        width: 100%;
        transition: .5s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          // background: linear-gradient(180deg, #FEE040 0%, #2F80ED 100%);
          // opacity: 0.5;
          // border: 1px solid #000000;
          // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          // border-radius: 2px;
        }
      }
    }
  }
  .lightbox__container {
    text-align: center;
  }
}